body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: #efefef;
  }
  
  .grid-container {
    display: flex;
  }
  
  #card-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);


  }
  
  #sidebar {
    background: #efefef;
    padding: 20px;
  }
  
  #btn {
    background-color: #72c3dc;
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 1rem;
}

.cards {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  padding: 10px 0px;
  color:#fff;
}

#name-style {
  margin: 25px 0px;
}

#card1 {
  background: #6f98a8;
}

#card2 {
  background: #2b8ead;
}

#card3 {
  background: #2f454e;
}
#card4 {
  background: #2b8ead;
}
#card5 {
    background: #2f454e;
  }
  #card6 {
    background: #bfbfbf;
  }
  #card7 {
    background: #bfbfbf;
  }
  #card8 {
    background: #6f98a8;
  }
  #card9 {
    background: #2f454e;
  }
  
  @media (max-width: 600px) {
    html {
      background-color: black;
    }
    body {
      margin: 20px;
      padding: 0px 15px;
      background-color: white;
    }
  
    .shuffle {
      background: #000;
      color: #fff;
      width: 110%;
      display: flex;
      justify-content: center;
    }
    .grid-container {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height:90hv;
      }
      #sidebar {
        background: #fff;
      }
      #card-container {
        width: 100%;
        grid-template-columns: 100%;
        grid-gap: 0.5rem;
      }
    
      .cards {
        font-size: 2.5rem;
        padding: 0;
        color:#000;
      }
    
      #card1 {
        background: #efefef;
        box-shadow: -8px 0px 0px 0px #6f98a8;
      }
    
      #card2 {
        background: #efefef;
        box-shadow: -8px 0px 0px 0px #2b8ead;
      }
    
      #card3 {
        background: #efefef;
        box-shadow: -8px 0px 0px 0px #2f454e;
      }
    #card4 {
        background: #efefef;
        box-shadow: -8px 0px 0px 0px #2b8ead;
      }
    
      #card5 {
        background: #efefef;
        box-shadow: -8px 0px 0px 0px #2f454e;
      }
    
      #card6 {
        background: #efefef;
        box-shadow: -8px 0px 0px 0px #bfbfbf;
      }
      #card7 {
        background: #efefef;
        box-shadow: -8px 0px 0px 0px #bfbfbf;
      }
    
      #card8 {
        background: #efefef;
        box-shadow: -8px 0px 0px 0px #6f98a8;
      }
    
      #card9 {
        background: #efefef;
        box-shadow: -8px 0px 0px 0px #bfbfbf;
      }
    }
    
